.root {
    flex-grow: 1;

  }
  .container {
    flex-grow: 1;
    position: 'relative';
    background: blue;
    
  }

  .paper {
    position: 'absolute';
    z-index: 1;
    margin-top: spacing ;
    left: 0;
    right: 0;
    
  }
  .chip {
    margin: spacing ;
  }
  .inputRoot {
    flex-wrap: 'wrap';
  }
  .inputInput {
    width: 'auto';
    flex-grow: 1;
  }
  .divider {
    height: spacing ;
  }
